// font //
$ff-main: 'Kumbh Sans', sans-serif;

// font size//
$fs-main: 2.3rem;
$fs-sub: 1.3rem;

// font weight//
$fw-400: 400;
$fw-700: 700;

// color //
$color-main: hsl(229, 23%, 23%);
$color-sub: hsl(227, 10%, 46%);
$color-bg-card: hsl(0, 0%, 100%); //hsl(0, 0%, 59%)
$color-bg: hsl(185, 75%, 39%);
