// font //
$ff-main: 'Kumbh Sans', sans-serif;

// font size//
$fs-main: 2rem;
$fs-sub: 1.5rem;

// font weight//
$fw-400: 400;
$fw-700: 700;

// color //
$color-main: hsl(229, 23%, 23%);
$color-sub : hsl(0, 0%, 59%);
$color-line: hsl(227, 10%, 46%);
$color-bg-card: hsl(0, 0%, 100%); 
$color-bg: hsl(185, 75%, 39%);

